html{
    scroll-behavior: smooth;
}
.pagetop{
    z-index: -50;
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    margin-top: calc(100vh * 70 / 375);
    padding-left: 3.1vw;
    padding-right: 3.1vw;
}
.main{
    display: grid;
    position: relative;
    width: calc(100vw * 351 / 375);
    height: calc(100vh * 520 / 667);
    /* top: calc(100vh * 125 / 1080); */
    margin: 0;
    margin-top: calc(100vh * 103 /1080);
}
.main .title{
    display: grid;
    margin: 0;
    height: calc(100vw * 70 / 375);
    font-weight: 700;
    align-items: center;
}
.main .title h2{
    margin: 0;
    font-size: calc(100vw * 40 / 375);
    font-weight: 900;
}
.main .title h3{
    margin: 0;
    font-size: calc(100vw * 25 / 375);
    font-weight: 100;
    font-family: "Hiragino Mincho ProN", serif;
    text-align: end;
}

.main .upper{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.main .lower{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.main .upper .right{
    height: 38px;
    display: flex;
    font-size: calc(100vw * 20 / 375);
    font-weight: 900;
    text-align: end;
}
.main .lower .left{
    height: 38px;
    display: flex;
    font-size: calc(100vw * 20 / 375);
    font-weight: 900;
}

.main .mid .catch{
    display: grid;
    align-items: center;
    text-align: center;
    height: calc(100vw * 350 / 375);
    margin: 0;
    /* height: calc(100vh * 465 / 1080); */

    font-size: calc(100vw * 30 / 375);
    font-weight: 900;
    color: white;
    text-shadow:
    1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black,  1px -1px 0 black,
     1px 0px 0 black, -1px  0px 0 black,
     0px 1px 0 black,  0px -1px 0 black;;
}

#bear{
    position: absolute;
    z-index: -100;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0px;
}
#bear img{
    width: 100%;
    object-fit: cover;
}

.span{
    z-index: -51;
    display: flex;
    position: relative;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: calc(100vh * 175 / 667);
    font-size: calc(100vw * 100 /1920);
}
.span .right{
    text-align: end;
}

.profile{
    z-index: 0;
    position: relative;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    margin-bottom: 30px;
}
.profile h4{
    display: flex;
    position: relative;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: calc(100vw * 20 / 375);
    color: white;

    width: calc(100vw * 150 / 375);
    height: calc(100vw * 30 / 375);
    background: black;
    border-radius: 100px;
}
.profile div{
    /* display: flex; */
    position: relative;
}
.profile div .left{
    text-transform: uppercase;
    font-size: calc(100vw * 25 / 375);
    font-weight: 900;
    color: black;
}
.profile div .right{
    height: calc(100vw * 300 / 375);
    padding: calc(100vw * 5 / 375);
    margin: auto;
    font-size: calc(100vw * 13 / 375);
    font-family: "Hiragino Mincho ProN", serif;
    line-height: calc(100vw * 18 / 375);
    letter-spacing: 0.3px;
    border-radius: calc(100vw * 5 /375);
    box-shadow: calc(100vw * 5 / 375) calc(100vw * 7.5 / 375) 10px rgba(0, 0, 0, 0.3) ;
}

.profile .href{
    display: flex;
    margin-top: calc(100vw * 50 / 375);
    justify-content: space-evenly;
}
.profile .link-button {
    display: inline-block;
    border: calc(100vw * 1 / 375) solid #242424;
    border-radius: calc(100vw * 10 / 375);
    padding: calc(100vw * 20 / 375) calc(100vw * 65 / 375);
    background-color: #111;
    color: #fff;
    font-size: calc(100vw * 50 / 1920);
    position: relative;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}  
  /* 矢印の装飾用の疑似要素を追加 */
.profile .link-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%; /* 矢印の元位置を設定 */
    width: 100%;
    background-color: #ffffff;
    transform: skewX(45deg); /* 斜めに回転させる */
    transition: left 0.3s; /* アニメーションを追加 */
    mix-blend-mode: difference; /* 色の反転を有効にする */
}
  /* マウスホバー時に矢印を表示 */
.link-button:hover::after {
    left: 0;
}
