.main{
    position: absolute;
    width: 100vw;
    height: calc(100vh * 880 / 1080);
    top: 200px;
}
.main .title{
    display: block;
    position: relative;
    left: calc(100vw * 70 / 1920);
    width: calc(100vw * 1780 / 1920);
}
.main .title h2{
    display: flex;
    margin: 0;
    height: calc(100vh * 90 / 1080);
    font-weight: 900;
    align-items: center;
}
.main .up{
    display: block;
    font-size: calc(100vh * 75 / 1080);
    color: #707070;
    letter-spacing: calc(100vw * -3.75 / 1920);
}
.main .title h3{
    display: block;
    margin: 0;
    height: calc(100vh * 50 / 1080);
    font-family: "Hiragino Mincho ProN", serif;
    font-size: calc(100vh * 50 / 1080);
    font-weight: 100;
    color: #707070;
}
.skill{
    display: grid;
    position: relative;
    top: 10vh;
    width: calc(100vw * 355 / 375);
    left: calc(100vw * 10 / 375);
    justify-content: center;
    align-items: center;
    gap: calc(100vh * 25 / 1080);
}
.skill .box{
    display: flex;
    width: calc(100vw * 330 / 375);
    justify-content: space-between;
}
.skill .upper{
    position: relative;
    left: calc(100vw * -12 / 375);
}
.skill .lower{
    position: relative;
    right: calc(100vw * -12 / 375);
}
.skill span{
    display: flex;
    margin: 0;
    width: calc(100vh * 90 / 667);
    height: calc(100vh * 90 / 667);
    font-size: calc(100vh * 40 / 1080);
    font-weight: 900;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    border-radius: 500px;
    color: white;
    background: rgba(50, 50, 50, 0.5
    );
    transition: 0.5s ease;
}
.skill span:hover{
    color: black;
    font-size: calc(100vh * 50 / 1080);
    background: white;
}